<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .suc {
            background-color: aqua;
            padding: 60px 150px;
            border-radius: 10px;
        }

    </style>
</head>

<body>
    
    <div class="suc">
        <i class="fas fa-check-circle fa-7x"></i>
        <h1>Success</h1>
    </div>
</body>

</html>